POSTGRES_USER=devhub
POSTGRES_PASSWORD=change_me
POSTGRES_DB=devhub

REDIS_PASSWORD=change_me

MONGO_ROOT_USERNAME=devhub
MONGO_ROOT_PASSWORD=change_me

RABBITMQ_USERNAME=devhub
RABBITMQ_PASSWORD=change_me

MINIO_ROOT_USER=devhub
MINIO_ROOT_PASSWORD=change_me

GOOSE_DRIVER=postgres
GOOSE_DBSTRING=postgres://devhub:change_me@127.0.0.1:5432/devhub?sslmode=disable
GOOSE_MIGRATION_DIR=./migrations